# OS X
*.DS_Store

# Vhost
.htpasswd

# Symfony
/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/bin/
/composer.phar
/vendor/
/web/bundles/
/web/.htaccess
/web/files
/web/css
/web/js
/web/images

# Ignore Silex set-up
/silex