$font-path: "../fonts";
$fa-font-path: $font-path;
$fa-css-prefix: "icon";

@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../bower_components/font-awesome/scss/font-awesome";

html {
    body {

    }
}