// 1944Mustang Kuler theme
// 
// Home page : https://color.adobe.com/1944mustang-color-theme-4817
// Credits © nathaniel https://color.adobe.com/userId%3A5926-art-colors/

$theme-1944mustang-1: rgb(0, 0, 0);
$theme-1944mustang-2: rgb(38, 50, 72);
$theme-1944mustang-3: rgb(126, 138, 162);
$theme-1944mustang-4: rgb(255, 255, 255);
$theme-1944mustang-5: rgb(255, 152, 0);

//
// UI elements
//

$body-background: $theme-1944mustang-4;
$titles-color: $theme-1944mustang-3;
$text-color: $theme-1944mustang-2;

$navbar-background: $theme-1944mustang-2;
$navbar-color: $theme-1944mustang-5;
$toolbar-button-color: $theme-1944mustang-2;

$btn-theme-1-background: $theme-1944mustang-1;
$btn-theme-2-background: $theme-1944mustang-2;
$btn-theme-4-background: $theme-1944mustang-4;
$btn-theme-3-background: $theme-1944mustang-3;
$btn-theme-5-background: $theme-1944mustang-5;