// Sandy Stone Kuler theme
// 
// Home page : https://color.adobe.com/sandy-stone-beach-ocean-diver-color-theme-15325
// Credits © PS https://color.adobe.com/userId%3A17923-art-colors/

$theme-sandy-stone-1: rgb(230, 226, 175);
$theme-sandy-stone-2: rgb(167, 163, 126);
$theme-sandy-stone-3: rgb(239, 236, 202);
$theme-sandy-stone-4: rgb(4, 99, 128);
$theme-sandy-stone-5: rgb(0, 47, 47);

//
// UI elements
//

$body-background: $theme-sandy-stone-4;
$titles-color: $theme-sandy-stone-2;
$text-color: $theme-sandy-stone-1;

$navbar-background: $theme-sandy-stone-3;
$navbar-color: $theme-sandy-stone-5;

$btn-theme-1-background: $theme-sandy-stone-1;
$btn-theme-2-background: $theme-sandy-stone-2;
$btn-theme-4-background: $theme-sandy-stone-4;
$btn-theme-3-background: $theme-sandy-stone-3;
$btn-theme-5-background: $theme-sandy-stone-5;